/* footer.css */
.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.social-icons ul {
  justify-content: center;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-icons li {
  margin: 0 10px; /* Espaçamento entre os ícones */
}

.social-icons a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;
  text-decoration: none;
}
